openapi: 3.2.0
info:
  title: Jinba Toolbox Execution API
  version: v1
  description: REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents.
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Execution
paths:
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}/run:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/ToolSlug'
    post:
      tags:
      - Execution
      operationId: runTool
      summary: Execute a published tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}/test:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/ToolSlug'
    post:
      tags:
      - Execution
      operationId: testTool
      summary: Test a tool
      description: Test a tool by running draft code (no published version required).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Test run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResult'
components:
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
    ToolSlug:
      name: toolSlug
      in: path
      required: true
      description: Tool slug
      schema:
        type: string
  schemas:
    RunResult:
      type: object
      properties:
        runId:
          type: string
        version:
          type: string
        success:
          type: boolean
        output:
          type: object
        error:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            traceback:
              type: string
        logs:
          type: object
          properties:
            stdout:
              type: array
              items:
                type: string
            stderr:
              type: array
              items:
                type: string
        durationMs:
          type: integer
    RunRequest:
      type: object
      required:
      - input
      properties:
        input:
          type: object
          description: Arguments matching the tool's input schema.
        version:
          type: string
          description: Optional published version to pin for reproducibility.
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  responses:
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: Bad Request — invalid input or missing required fields
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
