openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Versions API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Versions
paths:
  /orgs/{orgId}/toolsets/{slug}/versions:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - Versions
      operationId: listVersions
      summary: List versions
      responses:
        '200':
          description: A list of toolset versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolSetVersion'
    post:
      tags:
      - Versions
      operationId: publishVersion
      summary: Publish a new version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionPublish'
      responses:
        '201':
          description: Version published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSetVersion'
  /orgs/{orgId}/toolsets/{slug}/versions/{version}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - name: version
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Versions
      operationId: getVersion
      summary: Get version details
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSetVersion'
  /orgs/{orgId}/toolsets/{slug}/published-version:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    put:
      tags:
      - Versions
      operationId: setPublishedVersion
      summary: Set the active published version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - version
              properties:
                version:
                  type: string
      responses:
        '200':
          description: Published version set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSetVersion'
components:
  parameters:
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  schemas:
    VersionPublish:
      type: object
      required:
      - version
      properties:
        version:
          type: string
          example: 1.3.0
        releaseNotes:
          type: string
    ToolSetVersion:
      type: object
      properties:
        version:
          type: string
        releaseNotes:
          type: string
        toolSetSlug:
          type: string
        publishedBy:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
