openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Webhooks API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Webhooks
paths:
  /orgs/{orgId}/webhooks:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Webhooks
      operationId: listWebhooks
      summary: List webhooks
      responses:
        '200':
          description: A list of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      tags:
      - Webhooks
      operationId: createWebhook
      summary: Create webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created (signing secret returned)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
  /orgs/{orgId}/webhooks/{id}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Webhooks
      operationId: updateWebhook
      summary: Update webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    delete:
      tags:
      - Webhooks
      operationId: deleteWebhook
      summary: Delete webhook
      responses:
        '204':
          description: Webhook deleted
  /orgs/{orgId}/webhooks/{id}/test:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Webhooks
      operationId: testWebhook
      summary: Send test event
      responses:
        '200':
          description: Test event dispatched
components:
  schemas:
    WebhookCreate:
      type: object
      required:
      - url
      - events
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
            - tool.run.completed
            - tool.run.failed
            - toolset.published
            - member.added
            - member.removed
    Webhook:
      type: object
      properties:
        id:
          type: string
        orgId:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        secret:
          type: string
          description: HMAC signing secret
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
