openapi: 3.2.0
info:
  title: Jinba Toolbox MCP API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: MCP
paths:
  /public/{orgSlug}/{toolsetSlug}/mcp:
    parameters:
    - name: orgSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolsetSlug
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - MCP
      operationId: publicMcp
      summary: Public MCP endpoint (JSON-RPC)
      description: Model Context Protocol endpoint (JSON-RPC over HTTP, streamable) exposing a public toolset as an MCP server for AI agents. Supports tools/list and tools/call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
  /orgs/{orgId}/toolsets/{slug}/mcp:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    post:
      tags:
      - MCP
      operationId: orgMcp
      summary: Organization MCP endpoint (JSON-RPC)
      description: Organization-scoped Model Context Protocol endpoint exposing a toolset as an MCP server for internal agents and CI/CD.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
