openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Public API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Public
paths:
  /public/{orgSlug}/{toolsetSlug}/run/{toolSlug}:
    parameters:
    - name: orgSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolsetSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolSlug
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Public
      operationId: runPublicTool
      summary: Execute a tool via the public endpoint
      description: Public route allowing external consumers to execute a tool in a public toolset using an API key, without requiring organization membership context.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResult'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /public/{orgSlug}/{toolsetSlug}/mcp:
    parameters:
    - name: orgSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolsetSlug
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Public
      operationId: publicMcp
      summary: Public MCP endpoint (JSON-RPC)
      description: Model Context Protocol endpoint (JSON-RPC over HTTP, streamable) exposing a public toolset as an MCP server for AI agents. Supports tools/list and tools/call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    RunResult:
      type: object
      properties:
        runId:
          type: string
        version:
          type: string
        success:
          type: boolean
        output:
          type: object
        error:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            traceback:
              type: string
        logs:
          type: object
          properties:
            stdout:
              type: array
              items:
                type: string
            stderr:
              type: array
              items:
                type: string
        durationMs:
          type: integer
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
    RunRequest:
      type: object
      required:
      - input
      properties:
        input:
          type: object
          description: Arguments matching the tool's input schema.
        version:
          type: string
          description: Optional published version to pin for reproducibility.
  responses:
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
