openapi: 3.2.0
info:
  title: Jinba Toolbox Members API
  version: v1
  description: REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents.
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Members
paths:
  /orgs/{orgId}/members:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Members
      operationId: listMembers
      summary: List members
      responses:
        '200':
          description: A list of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
components:
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  schemas:
    Member:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        role:
          type: string
          enum:
          - Owner
          - Admin
          - Member
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
