openapi: 3.2.0
info:
  title: Jinba Toolbox Versions API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Versions
paths:
  /orgs/{orgId}/toolsets/{slug}/versions:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - Versions
      operationId: listVersions
      summary: List versions
      responses:
        '200':
          description: A list of toolset versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolSetVersion'
    post:
      tags:
      - Versions
      operationId: publishVersion
      summary: Publish a new version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VersionPublish'
      responses:
        '201':
          description: Version published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSetVersion'
  /orgs/{orgId}/toolsets/{slug}/versions/{version}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - name: version
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Versions
      operationId: getVersion
      summary: Get version details
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSetVersion'
  /orgs/{orgId}/toolsets/{slug}/published-version:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    put:
      tags:
      - Versions
      operationId: setPublishedVersion
      summary: Set the active published version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - version
              properties:
                version:
                  type: string
      responses:
        '200':
          description: Published version set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSetVersion'
components:
  schemas:
    VersionPublish:
      type: object
      required:
      - version
      properties:
        version:
          type: string
          example: 1.3.0
        releaseNotes:
          type: string
    ToolSetVersion:
      type: object
      properties:
        version:
          type: string
        releaseNotes:
          type: string
        toolSetSlug:
          type: string
        publishedBy:
          type: string
        createdAt:
          type: string
          format: date-time
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
