openapi: 3.2.0
info:
  title: Jinba Flow External Flows API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Flows
paths:
  /api/v2/external/flows/{flowId}/published-run:
    parameters:
    - name: flowId
      in: path
      required: true
      description: The published flow id.
      schema:
        type: string
    post:
      tags:
      - Flows
      operationId: runPublishedFlow
      summary: Run a published workflow
      description: Execute a published workflow. Provide input arguments as an array of name/value pairs and choose sync (blocking) or async (fire-and-forget) execution mode.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - args
              properties:
                args:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    - value
                    properties:
                      name:
                        type: string
                      value:
                        description: String, number, boolean, object, or array matching the workflow's expected input.
                mode:
                  type: string
                  enum:
                  - sync
                  - async
                  default: sync
                  description: sync blocks for the result; async returns immediately.
              example:
                args:
                - name: input1
                  value: example
                mode: sync
      responses:
        '200':
          description: Workflow execution result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowRunResult'
        '400':
          description: Bad Request — invalid request format or missing required arguments
        '401':
          description: Unauthorized — invalid or missing API key
        '403':
          description: Forbidden — API key does not have access to this workflow
        '404':
          description: Not Found — workflow not found, not published, or archived
        '429':
          description: Too Many Requests — rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying
components:
  schemas:
    FlowRunResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - failed
        result:
          type: object
          description: The workflow output.
        error:
          type: object
          properties:
            name:
              type: string
            value:
              type: string
            traceback:
              type: string
        stepOutputs:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum:
                - success
                - failed
              result:
                type: object
              error:
                type: object
                properties:
                  name:
                    type: string
                  value:
                    type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
