openapi: 3.1.0
info:
  title: Jinba Flow External API Keys ToolSets API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: ToolSets
paths:
  /orgs/{orgId}/toolsets:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - ToolSets
      operationId: listToolSets
      summary: List toolsets
      responses:
        '200':
          description: A list of toolsets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolSet'
    post:
      tags:
      - ToolSets
      operationId: createToolSet
      summary: Create toolset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolSetCreate'
      responses:
        '201':
          description: ToolSet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSet'
        '400':
          $ref: '#/components/responses/BadRequest'
  /orgs/{orgId}/toolsets/{slug}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - ToolSets
      operationId: getToolSet
      summary: Get toolset
      description: Get a toolset by slug (includes tools).
      responses:
        '200':
          description: ToolSet details including tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSet'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - ToolSets
      operationId: updateToolSet
      summary: Update toolset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility:
                  type: string
                  enum:
                  - public
                  - private
                  - restricted
                tags:
                  type: array
                  items:
                    type: string
                mcpEnabled:
                  type: boolean
      responses:
        '200':
          description: ToolSet updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSet'
    delete:
      tags:
      - ToolSets
      operationId: deleteToolSet
      summary: Delete toolset
      responses:
        '204':
          description: ToolSet deleted
components:
  schemas:
    ToolSetCreate:
      type: object
      required:
      - slug
      - name
      properties:
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        sandbox:
          $ref: '#/components/schemas/SandboxConfig'
        visibility:
          type: string
          enum:
          - public
          - private
          - restricted
        tags:
          type: array
          items:
            type: string
    LocalizedText:
      type: object
      description: A localized text object keyed by locale, with a "default" key.
      properties:
        default:
          type: string
      additionalProperties:
        type: string
    ToolSet:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        sandbox:
          $ref: '#/components/schemas/SandboxConfig'
        visibility:
          type: string
          enum:
          - public
          - private
          - restricted
        mcpEnabled:
          type: boolean
        tags:
          type: array
          items:
            type: string
        latestVersion:
          type:
          - string
          - 'null'
        publishedVersion:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    SandboxConfig:
      type: object
      properties:
        provider:
          type: string
          enum:
          - e2b
          - daytona
        language:
          type: string
          example: typescript
        packages:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        resources:
          type: object
          properties:
            timeout:
              type: integer
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  responses:
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: Bad Request — invalid input or missing required fields
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  parameters:
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
