openapi: 3.2.0
info:
  title: Jinba Toolbox Explore API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Explore
paths:
  /explore/toolsets:
    get:
      tags:
      - Explore
      operationId: exploreToolsets
      summary: List public toolsets
      description: Unauthenticated route to browse public toolsets.
      security: []
      responses:
        '200':
          description: A list of public toolsets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolSet'
  /explore/tags:
    get:
      tags:
      - Explore
      operationId: exploreTags
      summary: List popular tags
      security: []
      responses:
        '200':
          description: A list of popular tags
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    SandboxConfig:
      type: object
      properties:
        provider:
          type: string
          enum:
          - e2b
          - daytona
        language:
          type: string
          example: typescript
        packages:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        resources:
          type: object
          properties:
            timeout:
              type: integer
    ToolSet:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        sandbox:
          $ref: '#/components/schemas/SandboxConfig'
        visibility:
          type: string
          enum:
          - public
          - private
          - restricted
        mcpEnabled:
          type: boolean
        tags:
          type: array
          items:
            type: string
        latestVersion:
          type:
          - string
          - 'null'
        publishedVersion:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    LocalizedText:
      type: object
      description: A localized text object keyed by locale, with a "default" key.
      properties:
        default:
          type: string
      additionalProperties:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
