openapi: 3.2.0
info:
  title: Jinba Toolbox Runs API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Runs
paths:
  /orgs/{orgId}/runs:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Runs
      operationId: listRuns
      summary: List runs
      responses:
        '200':
          description: A list of runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Run'
  /orgs/{orgId}/runs/{runId}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: runId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Runs
      operationId: getRun
      summary: Get run details
      responses:
        '200':
          description: Run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Run:
      type: object
      properties:
        runId:
          type: string
        toolSetSlug:
          type: string
        toolSlug:
          type: string
        status:
          type: string
          enum:
          - success
          - failed
        durationMs:
          type: integer
        createdAt:
          type: string
          format: date-time
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  responses:
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
