openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Organizations API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Organizations
paths:
  /orgs:
    get:
      tags:
      - Organizations
      operationId: listOrganizations
      summary: List organizations
      description: List organizations the authenticated user belongs to.
      responses:
        '200':
          description: A list of organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags:
      - Organizations
      operationId: createOrganization
      summary: Create organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreate'
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /orgs/{orgId}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Organizations
      operationId: getOrganization
      summary: Get organization details
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Organizations
      operationId: updateOrganization
      summary: Update organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreate'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags:
      - Organizations
      operationId: deleteOrganization
      summary: Delete organization
      responses:
        '204':
          description: Organization deleted
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  responses:
    Forbidden:
      description: Forbidden — API key lacks permission for this action
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: Bad Request — invalid input or missing required fields
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: Unauthorized — missing or invalid API key
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    OrganizationCreate:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        slug:
          type: string
    Organization:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        role:
          type: string
          enum:
          - Owner
          - Admin
          - Member
        createdAt:
          type: string
          format: date-time
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
