openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Tools API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Tools
paths:
  /orgs/{orgId}/toolsets/{slug}/tools:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - Tools
      operationId: listTools
      summary: List tools in a toolset
      responses:
        '200':
          description: A list of tools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tool'
    post:
      tags:
      - Tools
      operationId: createTool
      summary: Create tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolCreate'
      responses:
        '201':
          description: Tool created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/ToolSlug'
    get:
      tags:
      - Tools
      operationId: getTool
      summary: Get tool
      responses:
        '200':
          description: Tool details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Tools
      operationId: updateTool
      summary: Update tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolCreate'
      responses:
        '200':
          description: Tool updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
    delete:
      tags:
      - Tools
      operationId: deleteTool
      summary: Delete tool
      responses:
        '204':
          description: Tool deleted
components:
  responses:
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    LocalizedText:
      type: object
      description: A localized text object keyed by locale, with a "default" key.
      properties:
        default:
          type: string
      additionalProperties:
        type: string
    Tool:
      type: object
      properties:
        id:
          type: string
        toolSetId:
          type: string
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        inputSchema:
          type: object
          description: JSON Schema for tool input
        outputSchema:
          type: object
          description: JSON Schema for tool output
        code:
          type: string
        entrypoint:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ToolCreate:
      type: object
      required:
      - slug
      - name
      - inputSchema
      properties:
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        inputSchema:
          type: object
        outputSchema:
          type: object
        code:
          type: string
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  parameters:
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
    ToolSlug:
      name: toolSlug
      in: path
      required: true
      description: Tool slug
      schema:
        type: string
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
