openapi: 3.1.0
info:
  title: Jinba Flow External API Keys API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: API Keys
paths:
  /orgs/{orgId}/api-keys:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - API Keys
      operationId: listApiKeys
      summary: List API keys
      responses:
        '200':
          description: A list of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
    post:
      tags:
      - API Keys
      operationId: createApiKey
      summary: Create API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  example: production
      responses:
        '201':
          description: API key created (plaintext key returned once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
  /orgs/{orgId}/api-keys/{keyId}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: keyId
      in: path
      required: true
      schema:
        type: string
    delete:
      tags:
      - API Keys
      operationId: deleteApiKey
      summary: Delete API key
      responses:
        '204':
          description: API key deleted
components:
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  schemas:
    ApiKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        prefix:
          type: string
          example: jtb_
        issuedBy:
          type: string
        lastUsedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
