openapi: 3.2.0
info:
  title: Jinba Toolbox Tools API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Tools
paths:
  /orgs/{orgId}/toolsets/{slug}/tools:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - Tools
      operationId: listTools
      summary: List tools in a toolset
      responses:
        '200':
          description: A list of tools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tool'
    post:
      tags:
      - Tools
      operationId: createTool
      summary: Create tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolCreate'
      responses:
        '201':
          description: Tool created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/ToolSlug'
    get:
      tags:
      - Tools
      operationId: getTool
      summary: Get tool
      responses:
        '200':
          description: Tool details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Tools
      operationId: updateTool
      summary: Update tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolCreate'
      responses:
        '200':
          description: Tool updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
    delete:
      tags:
      - Tools
      operationId: deleteTool
      summary: Delete tool
      responses:
        '204':
          description: Tool deleted
components:
  responses:
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  parameters:
    ToolSlug:
      name: toolSlug
      in: path
      required: true
      description: Tool slug
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  schemas:
    ToolCreate:
      type: object
      required:
      - slug
      - name
      - inputSchema
      properties:
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        inputSchema:
          type: object
        outputSchema:
          type: object
        code:
          type: string
    Tool:
      type: object
      properties:
        id:
          type: string
        toolSetId:
          type: string
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        inputSchema:
          type: object
          description: JSON Schema for tool input
        outputSchema:
          type: object
          description: JSON Schema for tool output
        code:
          type: string
        entrypoint:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
    LocalizedText:
      type: object
      description: A localized text object keyed by locale, with a "default" key.
      properties:
        default:
          type: string
      additionalProperties:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
