openapi: 3.2.0
info:
  title: Jinba Toolbox Tool Sets API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: ToolSets
paths:
  /orgs/{orgId}/toolsets:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - ToolSets
      operationId: listToolSets
      summary: List toolsets
      responses:
        '200':
          description: A list of toolsets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolSet'
    post:
      tags:
      - ToolSets
      operationId: createToolSet
      summary: Create toolset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolSetCreate'
      responses:
        '201':
          description: ToolSet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSet'
        '400':
          $ref: '#/components/responses/BadRequest'
  /orgs/{orgId}/toolsets/{slug}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    get:
      tags:
      - ToolSets
      operationId: getToolSet
      summary: Get toolset
      description: Get a toolset by slug (includes tools).
      responses:
        '200':
          description: ToolSet details including tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSet'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - ToolSets
      operationId: updateToolSet
      summary: Update toolset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility:
                  type: string
                  enum:
                  - public
                  - private
                  - restricted
                tags:
                  type: array
                  items:
                    type: string
                mcpEnabled:
                  type: boolean
      responses:
        '200':
          description: ToolSet updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolSet'
    delete:
      tags:
      - ToolSets
      operationId: deleteToolSet
      summary: Delete toolset
      responses:
        '204':
          description: ToolSet deleted
components:
  responses:
    BadRequest:
      description: Bad Request — invalid input or missing required fields
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  parameters:
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  schemas:
    ToolSet:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        sandbox:
          $ref: '#/components/schemas/SandboxConfig'
        visibility:
          type: string
          enum:
          - public
          - private
          - restricted
        mcpEnabled:
          type: boolean
        tags:
          type: array
          items:
            type: string
        latestVersion:
          type:
          - string
          - 'null'
        publishedVersion:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    ToolSetCreate:
      type: object
      required:
      - slug
      - name
      properties:
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        sandbox:
          $ref: '#/components/schemas/SandboxConfig'
        visibility:
          type: string
          enum:
          - public
          - private
          - restricted
        tags:
          type: array
          items:
            type: string
    SandboxConfig:
      type: object
      properties:
        provider:
          type: string
          enum:
          - e2b
          - daytona
        language:
          type: string
          example: typescript
        packages:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        resources:
          type: object
          properties:
            timeout:
              type: integer
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
    LocalizedText:
      type: object
      description: A localized text object keyed by locale, with a "default" key.
      properties:
        default:
          type: string
      additionalProperties:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
