openapi: 3.2.0
info:
  title: Jinba Toolbox Webhooks API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Webhooks
paths:
  /orgs/{orgId}/webhooks:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Webhooks
      operationId: listWebhooks
      summary: List webhooks
      responses:
        '200':
          description: A list of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
    post:
      tags:
      - Webhooks
      operationId: createWebhook
      summary: Create webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created (signing secret returned)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
  /orgs/{orgId}/webhooks/{id}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: id
      in: path
      required: true
      schema:
        type: string
    patch:
      tags:
      - Webhooks
      operationId: updateWebhook
      summary: Update webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    delete:
      tags:
      - Webhooks
      operationId: deleteWebhook
      summary: Delete webhook
      responses:
        '204':
          description: Webhook deleted
  /orgs/{orgId}/webhooks/{id}/test:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Webhooks
      operationId: testWebhook
      summary: Send test event
      responses:
        '200':
          description: Test event dispatched
components:
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  schemas:
    Webhook:
      type: object
      properties:
        id:
          type: string
        orgId:
          type: string
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        secret:
          type: string
          description: HMAC signing secret
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
    WebhookCreate:
      type: object
      required:
      - url
      - events
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
            - tool.run.completed
            - tool.run.failed
            - toolset.published
            - member.added
            - member.removed
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
