openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Explore API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Explore
paths:
  /explore/toolsets:
    get:
      tags:
      - Explore
      operationId: exploreToolsets
      summary: List public toolsets
      description: Unauthenticated route to browse public toolsets.
      security: []
      responses:
        '200':
          description: A list of public toolsets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolSet'
  /explore/tags:
    get:
      tags:
      - Explore
      operationId: exploreTags
      summary: List popular tags
      security: []
      responses:
        '200':
          description: A list of popular tags
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  schemas:
    ToolSet:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        slug:
          type: string
        name:
          $ref: '#/components/schemas/LocalizedText'
        description:
          $ref: '#/components/schemas/LocalizedText'
        sandbox:
          $ref: '#/components/schemas/SandboxConfig'
        visibility:
          type: string
          enum:
          - public
          - private
          - restricted
        mcpEnabled:
          type: boolean
        tags:
          type: array
          items:
            type: string
        latestVersion:
          type:
          - string
          - 'null'
        publishedVersion:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    LocalizedText:
      type: object
      description: A localized text object keyed by locale, with a "default" key.
      properties:
        default:
          type: string
      additionalProperties:
        type: string
    SandboxConfig:
      type: object
      properties:
        provider:
          type: string
          enum:
          - e2b
          - daytona
        language:
          type: string
          example: typescript
        packages:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        resources:
          type: object
          properties:
            timeout:
              type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
