openapi: 3.2.0
info:
  title: Jinba Toolbox Public API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Public
paths:
  /public/{orgSlug}/{toolsetSlug}/run/{toolSlug}:
    parameters:
    - name: orgSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolsetSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolSlug
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Public
      operationId: runPublicTool
      summary: Execute a tool via the public endpoint
      description: Public route allowing external consumers to execute a tool in a public toolset using an API key, without requiring organization membership context.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResult'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /public/{orgSlug}/{toolsetSlug}/mcp:
    parameters:
    - name: orgSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolsetSlug
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Public
      operationId: publicMcp
      summary: Public MCP endpoint (JSON-RPC)
      description: Model Context Protocol endpoint (JSON-RPC over HTTP, streamable) exposing a public toolset as an MCP server for AI agents. Supports tools/list and tools/call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
components:
  responses:
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    RunResult:
      type: object
      properties:
        runId:
          type: string
        version:
          type: string
        success:
          type: boolean
        output:
          type: object
        error:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            traceback:
              type: string
        logs:
          type: object
          properties:
            stdout:
              type: array
              items:
                type: string
            stderr:
              type: array
              items:
                type: string
        durationMs:
          type: integer
    RunRequest:
      type: object
      required:
      - input
      properties:
        input:
          type: object
          description: Arguments matching the tool's input schema.
        version:
          type: string
          description: Optional published version to pin for reproducibility.
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
