openapi: 3.1.0
info:
  title: Jinba Flow External API Keys MCP API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: MCP
paths:
  /public/{orgSlug}/{toolsetSlug}/mcp:
    parameters:
    - name: orgSlug
      in: path
      required: true
      schema:
        type: string
    - name: toolsetSlug
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - MCP
      operationId: publicMcp
      summary: Public MCP endpoint (JSON-RPC)
      description: Model Context Protocol endpoint (JSON-RPC over HTTP, streamable) exposing a public toolset as an MCP server for AI agents. Supports tools/list and tools/call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
  /orgs/{orgId}/toolsets/{slug}/mcp:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    post:
      tags:
      - MCP
      operationId: orgMcp
      summary: Organization MCP endpoint (JSON-RPC)
      description: Organization-scoped Model Context Protocol endpoint exposing a toolset as an MCP server for internal agents and CI/CD.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
