openapi: 3.2.0
info:
  title: Jinba Toolbox Credits API
  version: v1
  description: 'REST API for Jinba Toolbox — a centralized tool management and execution platform for AI agents. Built on Hono.js. Every resource (organizations, toolsets, tools, versions, runs, webhooks, API keys) is accessible through conventional HTTP endpoints under the /v1 prefix. Authentication uses a Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457 Problem Details. NOTE: This document was faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published REST API reference (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider''s own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not reachable from the harvest environment. Paths, methods, auth, error format and schemas are transcribed from the docs; treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://toolbox-api.jinba.dev/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: Credits
paths:
  /orgs/{orgId}/credits:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Credits
      operationId: getCredits
      summary: Get credit balance
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
components:
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key passed as a Bearer token. Keys use the jtb_ prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").'
