openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Runs API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Runs
paths:
  /orgs/{orgId}/runs:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    get:
      tags:
      - Runs
      operationId: listRuns
      summary: List runs
      responses:
        '200':
          description: A list of runs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Run'
  /orgs/{orgId}/runs/{runId}:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - name: runId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Runs
      operationId: getRun
      summary: Get run details
      responses:
        '200':
          description: Run details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
    Run:
      type: object
      properties:
        runId:
          type: string
        toolSetSlug:
          type: string
        toolSlug:
          type: string
        status:
          type: string
          enum:
          - success
          - failed
        durationMs:
          type: integer
        createdAt:
          type: string
          format: date-time
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  responses:
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
