openapi: 3.1.0
info:
  title: Jinba Flow External API Keys Execution API
  version: v2
  description: 'REST API for executing published Jinba Flow workflows programmatically. Once a workflow is published, an API key is automatically generated and the flow can be invoked from external systems, webhooks, or any HTTP client. Execution can be synchronous (blocking, returns the result) or asynchronous (returns immediately with a run id). Authentication is a per-flow Bearer API key. NOTE: Faithfully generated by the API Evangelist enrichment pipeline from Jinba''s published API docs (https://docs.jinba.io/en/pages/basics/api) because the provider''s own openapi.json was not reachable from the harvest environment. Treat the provider spec as canonical.'
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/basics/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
- url: https://api.jinba.dev
  description: Production
security:
- bearerAuth: []
tags:
- name: Execution
paths:
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}/run:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/ToolSlug'
    post:
      tags:
      - Execution
      operationId: runTool
      summary: Execute a published tool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}/test:
    parameters:
    - $ref: '#/components/parameters/OrgId'
    - $ref: '#/components/parameters/Slug'
    - $ref: '#/components/parameters/ToolSlug'
    post:
      tags:
      - Execution
      operationId: testTool
      summary: Test a tool
      description: Test a tool by running draft code (no published version required).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunRequest'
      responses:
        '200':
          description: Test run result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResult'
components:
  schemas:
    RunResult:
      type: object
      properties:
        runId:
          type: string
        version:
          type: string
        success:
          type: boolean
        output:
          type: object
        error:
          type: object
          properties:
            name:
              type: string
            message:
              type: string
            traceback:
              type: string
        logs:
          type: object
          properties:
            stdout:
              type: array
              items:
                type: string
            stderr:
              type: array
              items:
                type: string
        durationMs:
          type: integer
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
    RunRequest:
      type: object
      required:
      - input
      properties:
        input:
          type: object
          description: Arguments matching the tool's input schema.
        version:
          type: string
          description: Optional published version to pin for reproducibility.
  responses:
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    BadRequest:
      description: Bad Request — invalid input or missing required fields
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  parameters:
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema:
        type: string
    ToolSlug:
      name: toolSlug
      in: path
      required: true
      description: Tool slug
      schema:
        type: string
    OrgId:
      name: orgId
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Per-flow API key passed as a Bearer token. A key is automatically generated when a workflow is first published.
