openapi: 3.1.0
info:
  title: Jinba Toolbox API
  version: v1
  description: >-
    REST API for Jinba Toolbox — a centralized tool management and execution
    platform for AI agents. Built on Hono.js. Every resource (organizations,
    toolsets, tools, versions, runs, webhooks, API keys) is accessible through
    conventional HTTP endpoints under the /v1 prefix. Authentication uses a
    Bearer API key (jtb_ prefix) scoped to an organization; errors use RFC 9457
    Problem Details.
    NOTE: This document was faithfully generated by the API Evangelist
    enrichment pipeline from Jinba's published REST API reference
    (https://docs.jinba.io/en/pages/toolbox/developer/api) because the provider's
    own openapi.json (https://docs.jinba.io/api-reference/openapi.json) was not
    reachable from the harvest environment. Paths, methods, auth, error format
    and schemas are transcribed from the docs; treat the provider spec as
    canonical.
  x-apievangelist-method: generated
  x-apievangelist-source: https://docs.jinba.io/en/pages/toolbox/developer/api
  contact:
    name: Jinba
    url: https://jinba.io
servers:
  - url: https://toolbox-api.jinba.dev/v1
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Organizations
  - name: ToolSets
  - name: Tools
  - name: Execution
  - name: Versions
  - name: Runs
  - name: API Keys
  - name: Members
  - name: Webhooks
  - name: Credits
  - name: Public
  - name: Explore
  - name: MCP
paths:
  /orgs:
    get:
      tags: [Organizations]
      operationId: listOrganizations
      summary: List organizations
      description: List organizations the authenticated user belongs to.
      responses:
        '200':
          description: A list of organizations
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Organization' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Organizations]
      operationId: createOrganization
      summary: Create organization
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrganizationCreate' }
      responses:
        '201':
          description: Organization created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /orgs/{orgId}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
    get:
      tags: [Organizations]
      operationId: getOrganization
      summary: Get organization details
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Organizations]
      operationId: updateOrganization
      summary: Update organization
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrganizationCreate' }
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Organization' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      tags: [Organizations]
      operationId: deleteOrganization
      summary: Delete organization
      responses:
        '204': { description: Organization deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
  /orgs/{orgId}/toolsets:
    parameters:
      - $ref: '#/components/parameters/OrgId'
    get:
      tags: [ToolSets]
      operationId: listToolSets
      summary: List toolsets
      responses:
        '200':
          description: A list of toolsets
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ToolSet' }
    post:
      tags: [ToolSets]
      operationId: createToolSet
      summary: Create toolset
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ToolSetCreate' }
      responses:
        '201':
          description: ToolSet created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ToolSet' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /orgs/{orgId}/toolsets/{slug}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
    get:
      tags: [ToolSets]
      operationId: getToolSet
      summary: Get toolset
      description: Get a toolset by slug (includes tools).
      responses:
        '200':
          description: ToolSet details including tools
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ToolSet' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [ToolSets]
      operationId: updateToolSet
      summary: Update toolset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                visibility: { type: string, enum: [public, private, restricted] }
                tags: { type: array, items: { type: string } }
                mcpEnabled: { type: boolean }
      responses:
        '200':
          description: ToolSet updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ToolSet' }
    delete:
      tags: [ToolSets]
      operationId: deleteToolSet
      summary: Delete toolset
      responses:
        '204': { description: ToolSet deleted }
  /orgs/{orgId}/toolsets/{slug}/tools:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
    get:
      tags: [Tools]
      operationId: listTools
      summary: List tools in a toolset
      responses:
        '200':
          description: A list of tools
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Tool' }
    post:
      tags: [Tools]
      operationId: createTool
      summary: Create tool
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ToolCreate' }
      responses:
        '201':
          description: Tool created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tool' }
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
      - $ref: '#/components/parameters/ToolSlug'
    get:
      tags: [Tools]
      operationId: getTool
      summary: Get tool
      responses:
        '200':
          description: Tool details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tool' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Tools]
      operationId: updateTool
      summary: Update tool
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ToolCreate' }
      responses:
        '200':
          description: Tool updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tool' }
    delete:
      tags: [Tools]
      operationId: deleteTool
      summary: Delete tool
      responses:
        '204': { description: Tool deleted }
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}/run:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
      - $ref: '#/components/parameters/ToolSlug'
    post:
      tags: [Execution]
      operationId: runTool
      summary: Execute a published tool
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RunRequest' }
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RunResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /orgs/{orgId}/toolsets/{slug}/tools/{toolSlug}/test:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
      - $ref: '#/components/parameters/ToolSlug'
    post:
      tags: [Execution]
      operationId: testTool
      summary: Test a tool
      description: Test a tool by running draft code (no published version required).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RunRequest' }
      responses:
        '200':
          description: Test run result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RunResult' }
  /orgs/{orgId}/toolsets/{slug}/versions:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
    get:
      tags: [Versions]
      operationId: listVersions
      summary: List versions
      responses:
        '200':
          description: A list of toolset versions
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ToolSetVersion' }
    post:
      tags: [Versions]
      operationId: publishVersion
      summary: Publish a new version
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/VersionPublish' }
      responses:
        '201':
          description: Version published
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ToolSetVersion' }
  /orgs/{orgId}/toolsets/{slug}/versions/{version}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
      - name: version
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Versions]
      operationId: getVersion
      summary: Get version details
      responses:
        '200':
          description: Version details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ToolSetVersion' }
  /orgs/{orgId}/toolsets/{slug}/published-version:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
    put:
      tags: [Versions]
      operationId: setPublishedVersion
      summary: Set the active published version
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version]
              properties:
                version: { type: string }
      responses:
        '200':
          description: Published version set
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ToolSetVersion' }
  /orgs/{orgId}/runs:
    parameters:
      - $ref: '#/components/parameters/OrgId'
    get:
      tags: [Runs]
      operationId: listRuns
      summary: List runs
      responses:
        '200':
          description: A list of runs
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Run' }
  /orgs/{orgId}/runs/{runId}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - name: runId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [Runs]
      operationId: getRun
      summary: Get run details
      responses:
        '200':
          description: Run details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Run' }
        '404': { $ref: '#/components/responses/NotFound' }
  /orgs/{orgId}/api-keys:
    parameters:
      - $ref: '#/components/parameters/OrgId'
    get:
      tags: [API Keys]
      operationId: listApiKeys
      summary: List API keys
      responses:
        '200':
          description: A list of API keys
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ApiKey' }
    post:
      tags: [API Keys]
      operationId: createApiKey
      summary: Create API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, example: production }
      responses:
        '201':
          description: API key created (plaintext key returned once)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKey' }
  /orgs/{orgId}/api-keys/{keyId}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - name: keyId
        in: path
        required: true
        schema: { type: string }
    delete:
      tags: [API Keys]
      operationId: deleteApiKey
      summary: Delete API key
      responses:
        '204': { description: API key deleted }
  /orgs/{orgId}/members:
    parameters:
      - $ref: '#/components/parameters/OrgId'
    get:
      tags: [Members]
      operationId: listMembers
      summary: List members
      responses:
        '200':
          description: A list of members
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Member' }
  /orgs/{orgId}/webhooks:
    parameters:
      - $ref: '#/components/parameters/OrgId'
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhooks
      responses:
        '200':
          description: A list of webhooks
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Webhook' }
    post:
      tags: [Webhooks]
      operationId: createWebhook
      summary: Create webhook
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookCreate' }
      responses:
        '201':
          description: Webhook created (signing secret returned)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Webhook' }
  /orgs/{orgId}/webhooks/{id}:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - name: id
        in: path
        required: true
        schema: { type: string }
    patch:
      tags: [Webhooks]
      operationId: updateWebhook
      summary: Update webhook
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookCreate' }
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Webhook' }
    delete:
      tags: [Webhooks]
      operationId: deleteWebhook
      summary: Delete webhook
      responses:
        '204': { description: Webhook deleted }
  /orgs/{orgId}/webhooks/{id}/test:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - name: id
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [Webhooks]
      operationId: testWebhook
      summary: Send test event
      responses:
        '200': { description: Test event dispatched }
  /orgs/{orgId}/credits:
    parameters:
      - $ref: '#/components/parameters/OrgId'
    get:
      tags: [Credits]
      operationId: getCredits
      summary: Get credit balance
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance: { type: number }
  /public/{orgSlug}/{toolsetSlug}/run/{toolSlug}:
    parameters:
      - name: orgSlug
        in: path
        required: true
        schema: { type: string }
      - name: toolsetSlug
        in: path
        required: true
        schema: { type: string }
      - name: toolSlug
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [Public]
      operationId: runPublicTool
      summary: Execute a tool via the public endpoint
      description: >-
        Public route allowing external consumers to execute a tool in a public
        toolset using an API key, without requiring organization membership
        context.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RunRequest' }
      responses:
        '200':
          description: Run result
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RunResult' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /public/{orgSlug}/{toolsetSlug}/mcp:
    parameters:
      - name: orgSlug
        in: path
        required: true
        schema: { type: string }
      - name: toolsetSlug
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [MCP, Public]
      operationId: publicMcp
      summary: Public MCP endpoint (JSON-RPC)
      description: >-
        Model Context Protocol endpoint (JSON-RPC over HTTP, streamable) exposing
        a public toolset as an MCP server for AI agents. Supports tools/list and
        tools/call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema: { type: object }
  /orgs/{orgId}/toolsets/{slug}/mcp:
    parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/Slug'
    post:
      tags: [MCP]
      operationId: orgMcp
      summary: Organization MCP endpoint (JSON-RPC)
      description: >-
        Organization-scoped Model Context Protocol endpoint exposing a toolset as
        an MCP server for internal agents and CI/CD.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: A JSON-RPC 2.0 request conforming to the MCP specification.
      responses:
        '200':
          description: JSON-RPC response
          content:
            application/json:
              schema: { type: object }
  /explore/toolsets:
    get:
      tags: [Explore]
      operationId: exploreToolsets
      summary: List public toolsets
      description: Unauthenticated route to browse public toolsets.
      security: []
      responses:
        '200':
          description: A list of public toolsets
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ToolSet' }
  /explore/tags:
    get:
      tags: [Explore]
      operationId: exploreTags
      summary: List popular tags
      security: []
      responses:
        '200':
          description: A list of popular tags
          content:
            application/json:
              schema:
                type: array
                items: { type: string }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Organization-scoped API key passed as a Bearer token. Keys use the jtb_
        prefix (e.g. "Authorization: Bearer jtb_xxxxxxxxxxxx").
  parameters:
    OrgId:
      name: orgId
      in: path
      required: true
      schema: { type: string }
    Slug:
      name: slug
      in: path
      required: true
      description: ToolSet slug
      schema: { type: string }
    ToolSlug:
      name: toolSlug
      in: path
      required: true
      description: Tool slug
      schema: { type: string }
  responses:
    BadRequest:
      description: Bad Request — invalid input or missing required fields
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Unauthorized:
      description: Unauthorized — missing or invalid API key
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: Forbidden — API key lacks permission for this action
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Not Found — resource does not exist
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded
      headers:
        Retry-After:
          schema: { type: integer }
          description: Seconds to wait before retrying
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
  schemas:
    Problem:
      type: object
      description: RFC 9457 Problem Details.
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
    LocalizedText:
      type: object
      description: A localized text object keyed by locale, with a "default" key.
      properties:
        default: { type: string }
      additionalProperties: { type: string }
    Organization:
      type: object
      properties:
        id: { type: string }
        slug: { type: string }
        name: { type: string }
        role: { type: string, enum: [Owner, Admin, Member] }
        createdAt: { type: string, format: date-time }
    OrganizationCreate:
      type: object
      required: [name]
      properties:
        name: { type: string }
        slug: { type: string }
    SandboxConfig:
      type: object
      properties:
        provider: { type: string, enum: [e2b, daytona] }
        language: { type: string, example: typescript }
        packages:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
        resources:
          type: object
          properties:
            timeout: { type: integer }
    ToolSet:
      type: object
      properties:
        id: { type: string }
        organizationId: { type: string }
        slug: { type: string }
        name: { $ref: '#/components/schemas/LocalizedText' }
        description: { $ref: '#/components/schemas/LocalizedText' }
        sandbox: { $ref: '#/components/schemas/SandboxConfig' }
        visibility: { type: string, enum: [public, private, restricted] }
        mcpEnabled: { type: boolean }
        tags: { type: array, items: { type: string } }
        latestVersion: { type: [string, 'null'] }
        publishedVersion: { type: [string, 'null'] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    ToolSetCreate:
      type: object
      required: [slug, name]
      properties:
        slug: { type: string }
        name: { $ref: '#/components/schemas/LocalizedText' }
        description: { $ref: '#/components/schemas/LocalizedText' }
        sandbox: { $ref: '#/components/schemas/SandboxConfig' }
        visibility: { type: string, enum: [public, private, restricted] }
        tags: { type: array, items: { type: string } }
    Tool:
      type: object
      properties:
        id: { type: string }
        toolSetId: { type: string }
        slug: { type: string }
        name: { $ref: '#/components/schemas/LocalizedText' }
        description: { $ref: '#/components/schemas/LocalizedText' }
        inputSchema: { type: object, description: JSON Schema for tool input }
        outputSchema: { type: object, description: JSON Schema for tool output }
        code: { type: string }
        entrypoint: { type: [string, 'null'] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    ToolCreate:
      type: object
      required: [slug, name, inputSchema]
      properties:
        slug: { type: string }
        name: { $ref: '#/components/schemas/LocalizedText' }
        description: { $ref: '#/components/schemas/LocalizedText' }
        inputSchema: { type: object }
        outputSchema: { type: object }
        code: { type: string }
    RunRequest:
      type: object
      required: [input]
      properties:
        input:
          type: object
          description: Arguments matching the tool's input schema.
        version:
          type: string
          description: Optional published version to pin for reproducibility.
    RunResult:
      type: object
      properties:
        runId: { type: string }
        version: { type: string }
        success: { type: boolean }
        output: { type: object }
        error:
          type: object
          properties:
            name: { type: string }
            message: { type: string }
            traceback: { type: string }
        logs:
          type: object
          properties:
            stdout: { type: array, items: { type: string } }
            stderr: { type: array, items: { type: string } }
        durationMs: { type: integer }
    ToolSetVersion:
      type: object
      properties:
        version: { type: string }
        releaseNotes: { type: string }
        toolSetSlug: { type: string }
        publishedBy: { type: string }
        createdAt: { type: string, format: date-time }
    VersionPublish:
      type: object
      required: [version]
      properties:
        version: { type: string, example: 1.3.0 }
        releaseNotes: { type: string }
    Run:
      type: object
      properties:
        runId: { type: string }
        toolSetSlug: { type: string }
        toolSlug: { type: string }
        status: { type: string, enum: [success, failed] }
        durationMs: { type: integer }
        createdAt: { type: string, format: date-time }
    ApiKey:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        prefix: { type: string, example: jtb_ }
        issuedBy: { type: string }
        lastUsedAt: { type: [string, 'null'], format: date-time }
        createdAt: { type: string, format: date-time }
    Member:
      type: object
      properties:
        userId: { type: string }
        email: { type: string }
        role: { type: string, enum: [Owner, Admin, Member] }
    Webhook:
      type: object
      properties:
        id: { type: string }
        orgId: { type: string }
        url: { type: string, format: uri }
        events: { type: array, items: { type: string } }
        secret: { type: string, description: HMAC signing secret }
        enabled: { type: boolean }
        createdAt: { type: string, format: date-time }
    WebhookCreate:
      type: object
      required: [url, events]
      properties:
        url: { type: string, format: uri }
        events:
          type: array
          items:
            type: string
            enum:
              - tool.run.completed
              - tool.run.failed
              - toolset.published
              - member.added
              - member.removed
